{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-white " id="exampleModalLongTitle">Ajouter événement</h5>
                <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center mb-4">Ajouter événement</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nom d'événement:</label>
                            {{form.title}}
                        </div>


                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Date début:</label>
                            {{form.start_date}}
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Date fin:</label>
                            {{form.end_date}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modalClose2" data-dismiss="modal" type="button"
                            class="btn btn-outline-danger">Fermer</button>
                        <button type="submit" class="btn btn-outline-primary">Enregistrer</button>
                    </div>
                </form>

                {{form.errors}}

            </div>

        </div>
    </div>
</div>



<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="col-xl-12">
            <div class="card">
                <div class="container">
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Ajouter un événement
                    </button>


                </div>

                <div class="card-header">
                    <div id="calendar"></div>
                </div>

            </div>
        </div>
    </div>
</div>





<script>
    $(document).ready(function () {


    });


    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {

            // editable:true,
            height: 800,
            //selectable: true,
            selectMirror: true,
            eventLimit: true,

            headerToolbar:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            events:
                [
                    {% for i in events %}
                    {
                id: '{{i.id}}',
                title: '{{i.title}} ',
                start: '{{i.start_date|date:"Y-m-d"}}',
                end: '{{i.end_date|date:"Y-m-d"}}',
                color: '{{i.color}}'


            },
            {% endfor %}
                    
                    {% for i in rendezvous %}
    {

        title: '{{i.nom_client}} {{i.prenom_client}} ',
            start: '{{i.date_rendez_vous_prochain|date:"Y-m-d"}}',
                color: '#f5a91b'
    },
    {% endfor %}
                ],
    eventDidMount: function (event) {


        var dataHoje = new Date();
        //console.log("dateeeeeeeee",dataHoje)

        if (event.event.start < dataHoje && event.event.end > dataHoje) {
            event.event.color = "#FFB347"; //bde w mazel

            // element.css('background-color', '#FFB347');
        } else if (event.event.start < dataHoje && event.event.end < dataHoje) {
            event.event.color = "#77DD77"; //wfe cest bon
            //element.css('background-color', '#77DD77');
        } else if (event.event.start > dataHoje && event.event.end > dataHoje) {
            event.event.color = "#AEC6CF"; //mazel mabdesh 
            //element.css('background-color', '#AEC6CF');
        }
        console.log(event.event.color)
    },

    ////////delete event
    eventClick: function(info) {
        //         var dataHoje = new Date();
        //           var start=info.event.start;
        // console.log("dateeeeeeeee",dataHoje)
        var eventObj = info.event;
        console.log(eventObj)
        var id = eventObj.id
        console.log(id)
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: "/delete_event",
                    type: "GET",
                    data: { id: id },
                    success: function () {
                        console.log('Id of event to be deleted', id)

                        Swal.fire(
                            'Deleted!',
                            'Your Event has been deleted.',
                            'success'
                        ).then((result) => {
                            location.reload();
                        });

                    }
                })





            }
        })


    },
    ////////
    eventResize: function(event) {
        //var start=event.start
        //alert("new start",start)
        //console.log(event.start)
        //var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
        console.log("event start", event.event.start)
        console.log("event start", event.event.end)
        console.log("title", event.event.title)
        console.log("event id", event.event.id)
        id = event.event.id
        title = event.event.title
        start = event.event.start
        end = event.event.end
        //var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
        //alert(start)
        //var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
        //var title = event.title;
        //var id = event.id;
        $.ajax({
            url: "/update_event",
            type: "POST",
            data: { title: title, start: start, end: end, id: id },
            success: function () {
                location.reload();

            }
        })
    },
 
                
             
        });
    calendar.render();
      });




</script>
{% endblock content %}