{% extends "layouts/base.html" %}

{% block title %} Suivi {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="col-xl-12">
            <div class="card">
                <div class="wrapper">
                    <div class="">
                        <div class="">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Suivi Form</h3>
                                <div id="form-message-warning" class="mb-4"></div>

                                <form method="POST" id="myFormId" name="contactForm" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Donner le nombre de minutes </label>
                                                {{form.nbre_min}}
                                                {% if form.nbre_min.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show"
                                                    role="alert">
                                                    {{ form.nbre_min.errors }}

                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Donner le nombre de secondes </label>
                                                {{form.nbre_sec}}
                                                {% if form.nbre_sec.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show"
                                                    role="alert">
                                                    {{ form.nbre_sec.errors }}

                                                </div>
                                                {% endif %}

                                            </div>
                                        </div>



                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button id="submitForm" type="submit"
                                                    class="btn btn-primary">Submit</button>
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>









                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


{% endblock content %}