{% extends "layouts/base.html" %}
{% load custom_template_tags %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>Liste des utilisateurs </h5>
                    <span class="d-block m-t-5">Liste des rendez vous OPCO </span>
                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nom utulisateur</th>
                                    <th>Nom entreprise</th>
                                    <th>Adresse </th>
                                    <th>Ville</th>
                                    <th>Code postal</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    <th>siret</th>
                                    <th>Code ape</th>
                                    <th>Identifiant</th>
                                    <th>Mot de passe</th>
                                    <th>telephone_comptable</th>
                                    <th>formation_souhaite</th>
                                    <th>effectif_salarie</th>
                                    <th>Dont</th>
                                    <th>Date</th>
                                    <th>Date d'appel</th>
                                    <th>Date de rappel</th>
                                    <th>Heure</th>

                                </tr>
                            </thead>

                            <tbody>

                                {% for i in list %}
                                {% if i.etat == 1 %}
                                {% setvar "rgb(246, 240, 161)" as color %}


                                {% elif i.etat == 2 %}
                                {% setvar "rgb(155, 246, 135)" as color %}

                                {% elif i.etat == 0 %}
                                {% setvar "rgb(241, 83, 83)" as color %}


                                {% endif %}


                                <tr style="background-color: {{color}};">

                                    <form action="" method="POST" id="form">
                                        {% csrf_token %}
                                        <td>{{ i.username }}</td>
                                        <td>{{ i.nom_entreprise }}</td>
                                        <td>{{ i.adresse }}</td>
                                        <td>{{ i.ville }}</td>
                                        <td>{{ i.code_postal }}</td>
                                        <td>{{ i.telephone }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.siret }}</td>
                                        <td>{{ i.codeape }}</td>
                                        <td>{{ i.identifiant }}</td>
                                        <td>{{ i.mdp }}</td>
                                        <td>{{ i.telephone_comptable }}</td>
                                        <td>{{ i.formation_souhaite }}</td>
                                        <td>{{ i.effectife_salarie }}</td>
                                        <td>{{ i.dont }}</td>
                                        <td>{{ i.date_rendez_vous }}</td>
                                        <td>{{ i.date_rendez_vous }}</td>
                                        <td>{{ i.date_appel }}</td>
                                        <td>{{ i.date_rappel }}</td>





                                </tr>
                                </form>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<style>
    td {
        color: black;
        font-weight: bold;


    }
</style>
{% endblock content %}