{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="col-xl-12">
            <div class="card">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Rendez vous Forme</h3>
                                <div id="form-message-warning" class="mb-4"></div>

                                <form method="POST" id="myFormId" name="contactForm" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Nom entreprise</label>
                                                {{form.nom_entreprise}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Adresse</label>
                                                {{form.adresse}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="subject">Ville</label>
                                                {{form.ville}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Code postal</label>
                                                {{form.code_postal}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="subject">Téléphone</label>
                                                {{form.telephone}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Email</label>
                                                {{form.email}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">siret</label>
                                                {{form.siret}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Code ape</label>
                                                {{form.codeape}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Secteur activité</label>
                                                {{form.secteur_activite}}
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="Yes" style="display: none;">
                                            <div class="form-group">
                                                <label class="label" for="#">Identifiant</label>
                                                <input name="identifiant" id="identifiant" type="number"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="Yes1" style="display: none;">
                                            <div class="form-group">
                                                <label class="label" for="#">Mot de passe</label>
                                                <input name="pass" id="pass" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Téléphone comptable</label>
                                                {{form.telephone_comptable}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Formation souhaité</label>
                                                {{form.formation_souhaite}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Effectif salarié</label>
                                                {{form.effectife_salarie}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Dont</label>
                                                {{form.dont}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Date</label>
                                                {{form.date_rendez_vous}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Date d'appel</label>
                                                {{form.date_appel}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Date de rappel</label>
                                                {{form.date_rappel}}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Heure</label>
                                                <input class="form-control" value="{{heure}}" type="time" name="heure"
                                                    id="heure" required>
                                            </div>
                                        </div>









                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button id="submitForm" type="submit"
                                                    class="btn btn-primary">Valider</button>
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                        {% for message in messages %}
                                        <div class="alert alert-primary" role="alert">
                                            {{message}}
                                            <a href="#" class="close" data-dismiss="alert"
                                                aria-label="close">&times;</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



{% endblock content %}