{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="col-xl-12">
            <div class="card">
                <div class="wrapper">
                    <div class="">
                        <div class="">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Déclarer vente</h3>
                                <div id="form-message-warning" class="mb-4"></div>

                                <form method="POST" id="myFormId" name="contactForm" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Prix Opération</label>
                                                <input class="form-control" type="number" name="prix" step="any"
                                                    required>

                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button id="submitForm" type="submit"
                                                        class="btn btn-primary">Valider</button>
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>




                                        </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



{% endblock content %}