{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">


        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5>Liste des ventes .</h5>

                </div>
                <div class="card-block table-border-style">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nom client</th>
                                    <th>Prénom client</th>
                                    <th>Adresse</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    <th>Prix</th>
                                    <th>Mon bénéfice</th>


                                    <!--           <th>Accepter</th>
                                    <th>Annuler</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in list %}

                                <tr>

                                    <form action="" method="POST" id="form">
                                        {% csrf_token %}

                                        <td>{{ i.nom_client }}</td>
                                        <td>{{ i.prenom_client }}</td>
                                        <td>{{ i.adresse }}</td>
                                        <td>{{ i.telephone }}</td>
                                        <td>{{ i.email }}</td>
                                        <td>{{ i.prix }}</td>
                                        <td>{{ i.benefice }}</td>
                                        <td>{{ i.nbpasinteressecilble }}</td>
                                        <td>{{ i.nbrefuscategorique }}</td>
                                        <td>{{ i.nbrepondeur }}</td>
                                        <td>{{ i.nbvente }}</td>
                                        <td>{{ i.nbrendezvous }}</td>
                                        <td>{{ i.nbrappel }}</td>



                                        <!--    {% if i.etat == 1 %}
                                        <td><a href="{% url  'approverendezvousenergie' i.id %}"
                                                class="btn btn-outline-primary" data-toggle="tooltip">Accepter</a></td>
                                        <td><a href="{% url  'ignorerendezvousenergie' i.id %}"
                                                class="btn btn-outline-danger" id="refuse" data-toggle="tooltip"
                                                type="submit" value="Refuse" name="status">Annuler</a></td>
                                        {% elif i.etat == 2 %}
                                        <td></td>
                                        <td><a href="{% url  'ignorerendezvousenergie' i.id %}"
                                                class="btn btn-outline-danger" id="refuse" data-toggle="tooltip"
                                                type="submit" value="Refuse" name="status">Annuler</a></td>
                                        {% elif i.etat == 0 %}
                                        <td><a href="{% url  'approverendezvousenergie' i.id %}"
                                                class="btn btn-outline-primary" data-toggle="tooltip">Accepter</a>
                                        </td>
                                        <td></td>

                                        {% endif %} -->

                                </tr>
                                </form>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



<script>





    function supprimer(idforum) {
        swal({
            title: "Are you sure?",
            text: "Are you sure that you want to leave this page?",
            icon: "warning",
            dangerMode: true,
            buttons: true,

        })
            .then(willDelete => {
                if (willDelete) {
                    swal("Deleted!", "Le rendez-vous a été supprimé !", "success")
                        .then((value) => {
                            $.ajax({
                                url: 'http://51.255.168.8:8000/deletesuiviopco/' + idforum,
                                success: function (data) {
                                    if (data = "deleted") {
                                        window.location.replace(window.location.href);
                                    }
                                }


                            })
                        })
                }
                else {
                }
            });

    }


</script>




{% endblock content %}