{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="col-xl-12">
            <div class="card">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Vente Forme</h3>
                                <div id="form-message-warning" class="mb-4"></div>

                                <form method="POST" id="myFormId" name="contactForm" class="contactForm">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Nom client</label>
                                                {{form.nom_client}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Prénom client</label>
                                                {{form.prenom_client}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Adresse</label>
                                                {{form.adresse}}
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="subject">Téléphone</label>
                                                {{form.telephone}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Email</label>
                                                {{form.email}}
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Manaaresh esmha</label>
                                                {{form.colonne}}
                                            </div>
                                        </div>






                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Date rendez vous</label>
                                                {{form.date_rendez_vous}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Code postal</label>
                                                {{form.codepostal}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Ville</label>
                                                {{form.ville}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Nom produit</label>
                                                {{form.nomproduit}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Nom Catégorie</label>
                                                {{form.nomcategorie}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Quantité</label>
                                                {{form.quantite}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Tranche d'age</label>
                                                {{form.trancheage}}
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="#">Prix</label>
                                                {{form.prix}}
                                            </div>
                                        </div>



                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button id="submitForm" type="submit"
                                                    class="btn btn-primary">Valider</button>
                                                <div class="submitting"></div>
                                            </div>
                                        </div>




                                        {% for message in messages %}
                                        <div class="alert alert-primary" role="alert">
                                            {{message}}
                                            <a href="#" class="close" data-dismiss="alert"
                                                aria-label="close">&times;</a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

{% endblock content %}